@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 8% 97%;
    --foreground: 231 20% 27%;
    --card: 0 0% 100%;
    --card-foreground: 231 20% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 20% 27%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 232 47% 94%;
    --secondary-foreground: 231 20% 27%;
    --muted: 232 47% 94%;
    --muted-foreground: 231 20% 45%;
    --accent: 232 47% 88%;
    --accent-foreground: 231 48% 38%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 88%;
    --input: 231 20% 92%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
    --chart-1: 231 48% 48%;
    --chart-2: 232 47% 88%;
    --chart-3: 231 20% 67%;
    --chart-4: 231 30% 58%;
    --chart-5: 232 40% 78%;
  }

  .dark {
    --background: 231 20% 12%;
    --foreground: 0 0% 98%;
    --card: 231 20% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 231 20% 16%;
    --popover-foreground: 0 0% 98%;
    --primary: 232 47% 88%;
    --primary-foreground: 231 48% 28%;
    --secondary: 231 20% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 20% 24%;
    --muted-foreground: 231 20% 65%;
    --accent: 231 20% 24%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 24%;
    --input: 231 20% 24%;
    --ring: 232 47% 88%;
    --chart-1: 232 47% 88%;
    --chart-2: 231 48% 48%;
    --chart-3: 231 20% 65%;
    --chart-4: 231 30% 58%;
    --chart-5: 232 40% 78%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
